{
    "openapi": "3.1.0",
    "info": {
        "title": "Uncovr Backend API",
        "version": "1.0.0",
        "description": "Machine-readable contract for the Laravel backend. Resource-specific validation remains authoritative in the API."
    },
    "servers": [
        {
            "url": "https://api.uncovr.no",
            "description": "Production"
        }
    ],
    "paths": {
        "/api/v1": {
            "get": {
                "operationId": "api_v1_index",
                "tags": [
                    "Root"
                ],
                "summary": "Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                }
            }
        },
        "/api/v1/artist-invitations/accept": {
            "post": {
                "operationId": "api_v1_artist-invitations_accept",
                "tags": [
                    "Artist Invitations"
                ],
                "summary": "Artist Invitations Accept",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "minLength": 64,
                                        "maxLength": 64
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artist-invitations/{invitation}/resend": {
            "post": {
                "operationId": "api_v1_artist-invitations_resend",
                "tags": [
                    "Artist Invitations"
                ],
                "summary": "Artist Invitations Resend",
                "parameters": [
                    {
                        "name": "invitation",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists": {
            "get": {
                "operationId": "api_v1_artists_index",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Index",
                "parameters": [
                    {
                        "name": "filter[search]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "suspended"
                            ]
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "page[after]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[before]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "post": {
                "operationId": "api_v1_artists_store",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Store",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 150
                                    },
                                    "biography": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 10000
                                    },
                                    "website_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    },
                                    "creator_role": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "enum": [
                                            "artist_admin",
                                            "artist_user",
                                            null
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}": {
            "get": {
                "operationId": "api_v1_artists_show",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Show",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_artists_update",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Update",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": true,
                                            "required": [
                                                "profile"
                                            ],
                                            "properties": {
                                                "profile": {
                                                    "type": "object",
                                                    "additionalProperties": true,
                                                    "required": [
                                                        "logo_media_id",
                                                        "image_media_id",
                                                        "logo_media",
                                                        "image_media"
                                                    ],
                                                    "properties": {
                                                        "logo_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "image_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "logo_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "image_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 150
                                    },
                                    "biography": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 10000
                                    },
                                    "website_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    },
                                    "logo_media_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "pattern": "^[0-9A-Za-z]{26}$"
                                    },
                                    "image_media_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "pattern": "^[0-9A-Za-z]{26}$"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/image": {
            "post": {
                "operationId": "api_v1_artists_image_store",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Image Store",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": true,
                                            "required": [
                                                "profile"
                                            ],
                                            "properties": {
                                                "profile": {
                                                    "type": "object",
                                                    "additionalProperties": true,
                                                    "required": [
                                                        "logo_media_id",
                                                        "image_media_id",
                                                        "logo_media",
                                                        "image_media"
                                                    ],
                                                    "properties": {
                                                        "logo_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "image_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "logo_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "image_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "JPEG, PNG, WebP or AVIF image within configured media limits."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/invitations": {
            "post": {
                "operationId": "api_v1_artists_invitations_store",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Invitations Store",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "email",
                                    "role"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 254
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "artist_admin",
                                            "artist_user"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/listener-insights": {
            "get": {
                "operationId": "api_v1_artists_listener-insights_show",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Listener Insights Show",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            }
        },
        "/api/v1/artists/{artist}/logo": {
            "post": {
                "operationId": "api_v1_artists_logo_store",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Logo Store",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": true,
                                            "required": [
                                                "profile"
                                            ],
                                            "properties": {
                                                "profile": {
                                                    "type": "object",
                                                    "additionalProperties": true,
                                                    "required": [
                                                        "logo_media_id",
                                                        "image_media_id",
                                                        "logo_media",
                                                        "image_media"
                                                    ],
                                                    "properties": {
                                                        "logo_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "image_media_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "pattern": "^[0-9A-Za-z]{26}$"
                                                        },
                                                        "logo_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "image_media": {
                                                            "anyOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/MediaReference"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "JPEG, PNG, WebP or AVIF image within configured media limits."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/members": {
            "get": {
                "operationId": "api_v1_artists_members_index",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Members Index",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "post": {
                "operationId": "api_v1_artists_members_store",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Members Store",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/members/{membership}": {
            "delete": {
                "operationId": "api_v1_artists_members_destroy",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Members Destroy",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "membership",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_artists_members_update",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Members Update",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "membership",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/artists/{artist}/status": {
            "patch": {
                "operationId": "api_v1_artists_status_update",
                "tags": [
                    "Artists"
                ],
                "summary": "Artists Status Update",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "operationId": "api_v1_auth_forgot-password",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Forgot Password",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "operationId": "api_v1_auth_login",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Login",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "operationId": "api_v1_auth_logout",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Logout",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout-all": {
            "post": {
                "operationId": "api_v1_auth_logout-all",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Logout All",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "operationId": "api_v1_auth_refresh",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Refresh",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "operationId": "api_v1_auth_register",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Register",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/resend-verification": {
            "post": {
                "operationId": "api_v1_auth_resend-verification",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Resend Verification",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "operationId": "api_v1_auth_reset-password",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Reset Password",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/verify-email/{user}/{version}/{hash}": {
            "get": {
                "operationId": "api_v1_auth_verify-email",
                "tags": [
                    "Auth"
                ],
                "summary": "Auth Verify Email",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                }
            }
        },
        "/api/v1/contributors": {
            "post": {
                "operationId": "api_v1_contributors_store",
                "tags": [
                    "Contributors"
                ],
                "summary": "Contributors Store",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/contributors/{contributor}": {
            "delete": {
                "operationId": "api_v1_contributors_destroy",
                "tags": [
                    "Contributors"
                ],
                "summary": "Contributors Destroy",
                "parameters": [
                    {
                        "name": "contributor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "get": {
                "operationId": "api_v1_contributors_show",
                "tags": [
                    "Contributors"
                ],
                "summary": "Contributors Show",
                "parameters": [
                    {
                        "name": "contributor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_contributors_update",
                "tags": [
                    "Contributors"
                ],
                "summary": "Contributors Update",
                "parameters": [
                    {
                        "name": "contributor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/credits/{credit}": {
            "delete": {
                "operationId": "api_v1_credits_destroy",
                "tags": [
                    "Credits"
                ],
                "summary": "Credits Destroy",
                "parameters": [
                    {
                        "name": "credit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_credits_update",
                "tags": [
                    "Credits"
                ],
                "summary": "Credits Update",
                "parameters": [
                    {
                        "name": "credit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/health/live": {
            "get": {
                "operationId": "api_v1_health_live",
                "tags": [
                    "Health"
                ],
                "summary": "Health Live",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                }
            }
        },
        "/api/v1/health/ready": {
            "get": {
                "operationId": "api_v1_health_ready",
                "tags": [
                    "Health"
                ],
                "summary": "Health Ready",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                }
            }
        },
        "/api/v1/me": {
            "get": {
                "operationId": "api_v1_me_show",
                "tags": [
                    "Me"
                ],
                "summary": "Me Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_me_update",
                "tags": [
                    "Me"
                ],
                "summary": "Me Update",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me/collections": {
            "get": {
                "operationId": "api_v1_me_collections_index",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "post": {
                "operationId": "api_v1_me_collections_store",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Store",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me/collections/{collection}": {
            "delete": {
                "operationId": "api_v1_me_collections_destroy",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Destroy",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "get": {
                "operationId": "api_v1_me_collections_show",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Show",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "patch": {
                "operationId": "api_v1_me_collections_update",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Update",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me/collections/{collection}/items": {
            "put": {
                "operationId": "api_v1_me_collections_items_replace",
                "tags": [
                    "Me"
                ],
                "summary": "Me Collections Items Replace",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me/favorites/releases": {
            "get": {
                "operationId": "api_v1_me_favorites_releases_index",
                "tags": [
                    "Me"
                ],
                "summary": "Me Favorites Releases Index",
                "parameters": [
                    {
                        "name": "filter[search]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "review",
                                "scheduled",
                                "published",
                                "unpublished",
                                "archived"
                            ]
                        }
                    },
                    {
                        "name": "filter[type]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "album",
                                "ep",
                                "single"
                            ]
                        }
                    },
                    {
                        "name": "filter[artist_id]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9A-Za-z]{26}$"
                        }
                    },
                    {
                        "name": "filter[owner_type]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "organization",
                                "artist"
                            ]
                        }
                    },
                    {
                        "name": "filter[owner_id]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9A-Za-z]{26}$"
                        }
                    },
                    {
                        "name": "filter[assigned_to_me]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "page[after]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[before]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            }
        },
        "/api/v1/me/favorites/releases/{release}": {
            "delete": {
                "operationId": "api_v1_me_favorites_releases_destroy",
                "tags": [
                    "Me"
                ],
                "summary": "Me Favorites Releases Destroy",
                "parameters": [
                    {
                        "name": "release",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cookieAuth": []
                    }
                ]
            },
            "put": {
                "operationId": "api_v1_me_favorites_releases_store",
                "tags": [
                    "Me"
                ],
                "summary": "Me Favorites Releases Store",
                "parameters": [
                    {
                        "name": "release",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": true,
                                            "required": [
                                                "cover_media_id",
                                                "cover_media",
                                                "pages",
                                                "editors",
                                                "permissions"
                                            ],
                                            "properties": {
                                                "cover_media_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "pattern": "^[0-9A-Za-z]{26}$"
                                                },
[...]
